.pagination a {
    display:inline-block;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.pagination li.active {
    border-radius: 5px;
    background-color: #89ba16;
}

li.active>a {
    color: #fff;
}